<a href="https://colab.research.google.com/github/parthdahiwade2-glitch/EDA/blob/main/Copy_of_EDA_26_Jan(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Unit-1

## Basic Programs-Experiment-2

---

In [ ]:
# First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
a = "Hello"
print(a)

In [ ]:
# Comments
#This is a comment.
print("Hello, World!")

In [ ]:
# Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun!")

Hello World!
Have a good day.
Learning Python is fun!

In [ ]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
print("Python is fun!") print("Really!")

SyntaxError: invalid syntax (ipython-input-2531607073.py, line 1)

In [ ]:
print("This will work!")
print('This will also work!')

In [ ]:
print(This will cause an error)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2830183003.py, line 1)

In [ ]:
print("Hello World", end="! ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [ ]:
# Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [ ]:
#Variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

In [ ]:
print("Subtraction =", a - b)

In [ ]:
print("Multiplication =", a * b)

In [ ]:
print("Division =", a / b)

In [ ]:

# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

0

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

In [ ]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

In [ ]:
#Simple Calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

In [ ]:
# Write a Python program to find the area of a circle.
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

In [ ]:
# Python Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

 # Practical-2
 # Python Collections (Arrays)

(Arrays)
There are four collection data types in the Python programming language:

**List:** is a collection which is ordered and changeable. Allows duplicate members.



**Tuple:** is a collection which is ordered and unchangeable. Allows duplicate members.



**Set:** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.



**Dictionary:** is a collection which is ordered** and changeable. No duplicate members.

# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
## Python Lists
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
# List Items
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] etc.
# Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

In [ ]:
# List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
# Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
# Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

banana

In [ ]:
# Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
# Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Length of List
n=len ([3,4,5,6,7,8])
n

6

In [ ]:
8 in [3,4,5]

In [ ]:
list = (' -Symbi- ') * 6

print(list)

In [ ]:
L = ['spam','Spam','SPAM']
print(L[0])

In [ ]:
numbers = [10, 20, 30, 40, 50]
# Slicing examples
"Elements from index 1 to 3:"
"First three elements:"
"Elements from index 2 onwards:"
"All elements:"

In [ ]:
marks = [78, 85, 90, 66, 88]
"Maximum marks:"
"Minimum marks:"
"Total marks:"
"Number of students:"

In [ ]:
Create a list of 5 student names

Display the first and last student

Add a new student

Remove any one student

Sort the list alphabetically

# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
## Python Tuples
# Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

# Unordered
Set items are unordered, unchangeable, and do not allow duplicate values.
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
Duplicates Not Allowed

In [ ]:
# Unordered
'''Set items are unordered, unchangeable, and do not allow duplicate values.
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key. Duplicates Not Allowed '''

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
# Once a set is created, you cannot change its items, but you can add new items.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [ ]:
# Remove Item
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# Python frozenset
frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

#

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

# Python Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(thisdict))

3

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])